
.top {
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 50px;
  color: #00b7ff;
}

.selectImage {
  margin-left: 20px;
}

.rowIcon:first-child {
  margin-left: 90px;
}

.rowIcon {
  margin-left: 30px;
}

#search-box {
  margin-left: 60px;
  width: 250px;
  height: 35px;
  border-radius: 10px;
  font-size: 20px;
}

.right {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.userName {
  width: auto;
  font-size: 40px;
  font-weight: bold;
  //padding-left: 500px;
  //padding-right: 20px;
}

.logoutButton {
  height: 40px;
  width: 80px;
  float: right;
  font-size: 15px;
  margin-right: 200px;
  margin-left: 40px;
  border-radius: 10px;
}
